.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: fit-content;
}

.title {
  font-size: 8em;

}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin:1em;

}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selectDropdown {
  width: 20%;
  align-self: flex-end;
}